<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juvi JEWERLY</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/images/Icons/home-icon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-logo">
                <a class="navbar-brand" href="/">Juvi <b>JEWELRY</b></a>
            </div>
        </div>
    </nav>
        <!-- Banner -->
        <section class="section-1" id="section-1">
            <!-- Video -->
            <div class="video-container">
                <video src="images/LPT_M.mp4" controls autoplay muted loop></video>
            </div>
            <!-- End of Video -->
            <!-- Banner -->
            <div class="section-1-banner center">
                <h1> about Juvi <b>JEWERLY</b></h1>
                <p>Since 1999, Juvi JEWELRY has been synonymous with precision crystal cutting. Our enduring commitment to innovation and design has made us a global leader in jewelry and accessories. Today, we continue to create unique, high-quality pieces that offer everyday elegance to women worldwide.<br>
                </br>Our creative process combines trend inspiration, design, and branding to tell a story in each piece.</p>
            </div>
            <!-- End of Banner -->
    
            <!-- Slideshow -->
            <div class="slideshow"></div>
            <!-- End of Slideshow -->
        </section>

    <footer>
        <div class="footer">
            <div class="row">
                <ul>
                    <li><a href="contact">Contact us</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </div>

            <div class="row">
                JUVI Copyright © 2023 Juvi - All rights reserved ||
            </div>
        </div>
    </footer>
    <script src="assets/js/script.js"></script>
</body>

</html>