@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #9c8b73;
  --white-color: #fff;
  --black-color: #000;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End of Common Styles */

/* Navbar */
.navbar {
  background-color: var(--black-color);
  font-size: 2rem;
  letter-spacing: 0.1rem;
  display: inline-block;
}

.navbar-logo {
  position: absolute;
  left: 0;
  padding-left: 20px; 
  font-size:3rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  background-color: var(--white-color);
}

.navbar-buttons {
  position: absolute;
  right: 0;
  padding-right: 20px; 
}

.navbar-brand, .navbar-buttons a {
  color: white;
}

/* Section 1 */
.section-1 {
  width: 100%;
  height: 130vh;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  clip-path: polygon(100% 0, 100% 95%, 100% 100%, 0 100%, 0 0);
  position: relative;
}

/* Navbar1 */
.navbar1 {
  position: absolute;
  top: 12%;
  right: 11%;
}

.navbar-link {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  margin: 0 2rem;
  color: var(--black-color);
  transition: transform 0.5s;
}

.navbar-link:hover {
  transform: scale(1.5);
}


/* End of Navbar */


/* Banner */
.section-1-banner {
  flex-direction: column;
  margin-right: 6%;
  margin-top: 10%;
}

.section-1-banner h1 {
  font-size: 10rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.section-1-banner p {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin: 6rem 0 4rem 0;
}

.section-1-banner span {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.section-1-banner button {
  padding: 2rem 4rem;
  font-size: 2rem;
  background-color: var(--black-color);
  color: var(--white-color);
  font-weight: 400;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  clip-path: polygon(
    50% 0%,
    81% 5%,
    100% 0,
    100% 100%,
    80% 95%,
    50% 100%,
    20% 95%,
    0 100%,
    0 0,
    23% 5%
  );
  transition: clip-path 0.5s;
}

.section-1-banner button:hover {
  clip-path: polygon(
    40% 15%,
    77% 15%,
    100% 10%,
    100% 90%,
    75% 85%,
    40% 85%,
    30% 100%,
    0 50%,
    0 50%,
    30% 0
  );
}
/* End of Banner */
/* video */

.video-container {
  float: right;
  width: 50%;
  padding-right: 20px;
  box-sizing: border-box;
  margin-left: 5%;
  margin-top: 4%;
}

.video-container video {
  width: 80%;  /* Adjust the width as needed */
  height: auto;  /* Adjust the height as needed, or set it to auto to keep the aspect ratio */
  border: 3px solid #000;
}

.section-1-banner {
  float: right;
  width: 50%;
  box-sizing: border-box;
}

/*end video */

/* Slideshow */
.slideshow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slideshow div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 5s;
}

.slideshow div.change {
  opacity: 1;
}
/* End of Slideshow */
/* End of Section 1 */

/* Section 2 */
.section-2 {
  width: 100%;
  height: 120vh;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Section 3 */
.section-3 {
  width: 100%;
  height: 130vh;
  background-color: var(--black-color);
  flex-direction: column;
  text-align: center;
  padding: 50px 200px;
  justify-content: space-between;
  position: relative;
  margin-right: 20%;
}

/* Section 3 Heading */
.section-3-heading {
  text-align: center;
  font-size: 10rem;
  font-weight: 300;
  color: var(--primary-color);
  text-shadow: 0.1rem 0.1rem 0 #ffe6e6;
}


/* End of Section 3 Heading */

.container-categories {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  height: 100vh;
  box-sizing: border-box;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;

}

.box > img {
  width: 400px; 
  height: calc(100% - 10vh);
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
  color:var(--primary-color)
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
 
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 10px; 
  position: relative;
}

.product-card:hover{
  border: 1px solid #ccc; /* Add a border around each product card */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  cursor: pointer;
  position: relative;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image img {
  border-radius: 25px;
  border: 5px solid #9C8B73; 
  transition: border 0.3s; 
  
}

.product-image img {
  max-width: 100%;
  max-height: 200px; 
  object-fit: cover; 
  border: 4px solid #9C8B73 ;
}


.product-details {
  margin-top: 10px;
}

.product-details h1 {
  font-size: 1.5rem; /* Adjust the font size as needed */
}

.product-price span {
  font-size: 2rem; /* Adjust the font size as needed */
  font-weight: bold;
  color: #009688; /* Customize the price color */
}





/*End of Section 3 */

#section-4 {
  position: relative;
  height: 100vh;
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;  /* change text color as needed */
}

.content a {
  text-decoration: none;
  color: inherit;
  font-size: 2em; /* adjust size as needed */
  text-align: center;
  font-size: 10rem;
  font-weight: 300;
  color: var(--primary-color);
  text-shadow: 0.1rem 0.1rem 0 #ffe6e6;
}

.section-about-heading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15rem;
  font-weight: 300;
  color: var(--white-color);
  text-shadow: 0.1rem 0.1rem 0 #999;
}

.footer {
  background-color: var(--black-color);
  padding: 1em 0;
}

.footer .row {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.footer a {
  color: var(--primary-color);
  text-decoration: none;
  margin: 0 0.5em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.footer ul li {
  margin: 0 1em;
}
/* Responsive */
@media (max-width: 1500px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 40%;
  }

  .navbar-link {
    font-weight: 700;
  }

  .section-1-banner h1 {
    font-size: 8rem;
  }

  .section-1-banner p {
    font-size: 3rem;
  }

  .watch-btn {
    right: 25%;
  }
}


.map-container {
  width: 100%; /* Adjust the width as needed */
  height: 370px;
  margin-top: -10px;
  margin: 80px; /* Adjust the margin as needed */
  border: 1.8px solid #000000;
  border-radius: 8px;
  float: right; /* Float the map to the right */
}

.branch-details {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin: 20px; /* Adjust the right margin to create space for the map */
  float: left
}

.footer .row {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

